/* ROBOTO */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* ROBOTO MONO */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
/* Titillum Web */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/* NERD FONT */
@font-face {
  font-family: 'nerd';
  src: url('assets/Arimo/ArimoNerdFont-Regular.ttf') format('truetype')
}

:root {
  /*
    [ BODY COLORS ]
    - base is for the background
    - mantle is for extruding top level elements
    - crust is for the hover
  */
  --color-primary-base: #303446;
  --color-primary-mantle: #292c3c;
  --color-primary-crust: #232634;

  /*
    [ TEXT COLORS ]
  */
  --color-text: #c6d0f5;
  --color-sub-text: #737994;
  --color-primary-bad: #e78284;
  --color-secondary-bad: #ea999c;
  --color-primary-good: #a6d189;
  --color-secondary-good: #81c8be;

  /*
    [ ELEMENT COLORS / GRADIENTS ] 
  */
  --background-gradient-input: linear-gradient(90deg, rgba(140, 170, 238, 1) 0%, rgba(186, 187, 241, 1) 100%);
  --background-gradient-input-active: background: linear-gradient(90deg, rgba(133, 193, 220, 1) 0%, rgba(140, 170, 238, 1) 100%);
  --background-gradient-bad: linear-gradient(90deg, rgba(231, 130, 132, 1) 0%, rgba(234, 153, 156, 1) 100%);
  --background-gradient-good: background: linear-gradient(90deg, rgba(166, 209, 137, 1) 0%, rgba(129, 200, 190, 1) 100%);
  --background-awaiting-response-1: #737994;
  --background-awaiting-response-2: #838ba7;
  --background-awaiting-response-3: #949cbb;
}

* {
  font-family: 'Titillum Web', sans-serif;
  font-size: 16px;
  color: var(--color-text);
}

body {
  background-color: var(--color-primary-base);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%23292c3c' fill-opacity='1' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");
  margin: 0;
}

sub {
  color: var(--color-sub-text);
  font-style: italic;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
}

.TopBar {
  background: var(--color-primary-mantle);
  padding: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.5rem;
}

.TopBarList {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: row;

}

.Title {
  font-weight: 900;
  margin-right: auto;
}

.TobBarList li {
  display: inline;
}

.TopBarItem {
  font-size: 2rem;
  font-family: 'Roboto Mono', 'nerd';
}

.TopBarItem a {
  text-decoration: none;
  font: inherit;
  color: inherit;
  transition: 0.1s;
}

.TopBarItem a:hover {
  color: white;
}
